In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display # Allows the use of display() for DataFrames

# Show matplotlib plots inline (nicely formatted in the notebook)
%matplotlib inline

import time
import datetime
import os

#import datacleaningp1 as dcp
import dcp
reload(dcp)
date_list = dcp.datelist((2016, 1, 1), (2016, 1, 21))  ### generate time list of training data
print date_list

['2016-01-01', '2016-01-02', '2016-01-02', '2016-01-03', '2016-01-03', '2016-01-04', '2016-01-04', '2016-01-05', '2016-01-05', '2016-01-06', '2016-01-06', '2016-01-07', '2016-01-07', '2016-01-08', '2016-01-08', '2016-01-09', '2016-01-09', '2016-01-10', '2016-01-10', '2016-01-11', '2016-01-11', '2016-01-12', '2016-01-12', '2016-01-13', '2016-01-13', '2016-01-14', '2016-01-14', '2016-01-15', '2016-01-15', '2016-01-16', '2016-01-16', '2016-01-17', '2016-01-17', '2016-01-18', '2016-01-18', '2016-01-19', '2016-01-19', '2016-01-20', '2016-01-20', '2016-01-21']

In [2]:
# load training data
data_train_all = pd.read_csv('TrainingData.csv')
print 'Training data read sucessfully'
display(data_train_all.describe())

Training data read sucessfully

,Unnamed: 0,PM2.5,Weather_1,Weather_2,Weather_3,Weather_4,Weather_8,Weather_9,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
count,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000
mean,190079.500000,115.542708,0.021007,0.461111,0.171354,0.279167,0.066319,0.001042,33.500000,7.298630,7.279098,7.259065,7.241093,6.311806,72.500000,601.592692,128.377262,38.575176,25.988291
std,109742.883504,47.538847,0.143407,0.498486,0.376819,0.448590,0.248840,0.032258,19.050397,42.020913,42.013276,42.003035,41.994507,3.721937,41.568272,697.427213,214.776859,67.096184,41.573323
min,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,95039.750000,81.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,3.000000,36.750000,148.000000,17.000000,5.000000,3.000000
50%,190079.500000,112.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.500000,1.000000,1.000000,1.000000,1.000000,6.000000,72.500000,328.000000,50.000000,15.000000,10.000000
75%,285119.250000,149.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,50.000000,3.000000,3.000000,3.000000,3.000000,8.000000,108.250000,770.000000,142.000000,42.000000,30.000000
max,380159.000000,241.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,66.000000,3867.000000,3867.000000,3867.000000,3867.000000,19.000000,144.000000,4223.000000,2084.000000,863.000000,486.000000

## Test1: train a knn-model for district 1

In [42]:
data_1 = data_train_all[data_train_all['district_id'] == 1]
data_1.drop(['district_id'],inplace = True, axis = 1)
data_1 = data_1.reset_index(drop = True)
display(data_1.describe())

C:\Users\sjtu\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_4,Weather_8,Weather_9,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
count,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000
mean,115.542708,0.021007,0.461111,0.171354,0.279167,0.066319,0.001042,5.843056,5.819965,5.798438,5.781424,6.311806,72.500000,1306.610417,283.701215,90.366667,73.071701
std,47.542912,0.143420,0.498529,0.376851,0.448629,0.248861,0.032261,14.212696,14.218706,14.224705,14.229226,3.722255,41.571826,283.882293,116.426974,39.848662,27.250172
min,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,498.000000,57.000000,10.000000,12.000000
25%,81.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,2.000000,3.000000,36.750000,1153.750000,173.000000,56.000000,50.000000
50%,112.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000,4.000000,4.000000,6.000000,72.500000,1436.000000,304.500000,93.000000,76.000000
75%,149.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,6.000000,6.000000,6.000000,6.000000,8.000000,108.250000,1494.000000,365.000000,117.000000,93.000000
max,241.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,301.000000,301.000000,301.000000,301.000000,19.000000,144.000000,1861.000000,638.000000,223.000000,162.000000

In [43]:
### Shuffle data, then do train_test_split
from sklearn.utils import shuffle
data_1_s = shuffle(data_1,random_state = 42)

display(data_1_s.head(10))

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_4,Weather_8,Weather_9,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
4382,117.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,5.0,5.0,4.0,63.0,1462.0,320.0,116.0,86.0
5060,186.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,21.0,780.0,93.0,37.0,32.0
2187,133.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,28.0,775.0,96.0,36.0,30.0
4813,81.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,3.0,2.0,3.0,62.0,1509.0,302.0,118.0,72.0
5298,124.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,4.0,9.0,5.0,5.0,115.0,1509.0,407.0,151.0,105.0
1101,38.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,4.0,3.0,4.0,8.0,94.0,1407.0,379.0,115.0,124.0
2210,122.0,0.0,0.0,0.0,0.0,1.0,0.0,12.0,11.0,5.0,8.0,3.0,51.0,1673.0,309.0,95.0,71.0
3807,114.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,4.0,1.0,3.0,5.0,64.0,1518.0,297.0,118.0,90.0
3524,85.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0,2.0,3.0,5.0,3.0,69.0,1441.0,257.0,72.0,66.0
5462,106.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,7.0,6.0,4.0,1.0,135.0,1424.0,294.0,112.0,57.0

In [44]:
### split labels from data set
label = data_1_s['gaps']
data_1_s.drop(['gaps'],axis = 1,inplace = True)

### feature normalization
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
data_1_n = preprocessing.MinMaxScaler().fit_transform(data_1_s)

X_train, X_test, y_train, y_test = train_test_split(data_1_n, label, test_size=0.3, random_state=42)
print 'Training set size: ',len(X_train)
print 'Test set size: ',len(X_test)

Training set size:  4032
Test set size:  1728

C:\Users\sjtu\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [46]:
from sklearn.neighbors import KNeighborsRegressor

neigh = KNeighborsRegressor(n_neighbors= 1)
neigh.fit(X_train,y_train)

y_pred = neigh.predict(X_test)
from sklearn.metrics import mean_absolute_error,r2_score

print 'r2 score on test set %d is '%1, r2_score(y_test,y_pred)
print 'r2 score on training set is ',neigh.score(X_train,y_train)
print 'MAE is ',mean_absolute_error(y_test,y_pred)

r2 score on test set 1 is  0.732440580478
r2 score on training set is  1.0
MAE is  1.48553240741

Use k = 1, a simple Nearest Neighbor Regressor

## Test 2 take average on all 66 district

In [47]:
district_number = 66
test_set_size = 0.3
num_neighbors = 1

MAE_list = []
for iid in np.arange(district_number)+1:
    ###select training data for one specific district
    data_iid = data_train_all[data_train_all['district_id'] == iid]
    data_iid.drop(['district_id'],inplace = True, axis = 1)
    data_iid = data_iid.reset_index(drop = True)
    
    ### shuffle data
    data_iid_s = shuffle(data_iid,random_state = 42)
    ### split labels from data set
    label = data_iid_s['gaps']
    data_iid_s.drop(['gaps'],axis = 1,inplace = True)
    
    ### feature renormalization & train_test_split
    data_iid_n = preprocessing.MinMaxScaler().fit_transform(data_iid_s)
    X_train, X_test, y_train, y_test = train_test_split(data_iid_n, label, test_size= test_set_size, random_state=42)
    
    ### train a nearest neighbor regressor
    neigh = KNeighborsRegressor(n_neighbors= 1)
    neigh.fit(X_train,y_train)
    
    y_pred = neigh.predict(X_test)
    MAE_iid = mean_absolute_error(y_test,y_pred)
    print 'r2 score on test set %d is '%iid, r2_score(y_test,y_pred)
    print 'MAE is ',mean_absolute_error(y_test,y_pred)
    print '\n'
    
    MAE_list.append(MAE_iid)

C:\Users\sjtu\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sjtu\Anaconda2\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

r2 score on test set 1 is  0.732440580478
MAE is  1.48553240741


r2 score on test set 2 is  0.621996473648
MAE is  0.236689814815


r2 score on test set 3 is  0.357316938259
MAE is  0.299189814815


r2 score on test set 4 is  0.910263967287
MAE is  1.53356481481


r2 score on test set 5 is  0.609045399792
MAE is  0.27662037037


r2 score on test set 6 is  0.856429789022
MAE is  1.06365740741


r2 score on test set 7 is  0.873712793478
MAE is  5.97337962963


r2 score on test set 8 is  0.899801528059
MAE is  8.9375


r2 score on test set 9 is  0.589890398744
MAE is  0.929398148148


r2 score on test set 10 is  0.556233681311
MAE is  0.398148148148


r2 score on test set 11 is  -0.00256935427829
MAE is  0.594907407407


r2 score on test set 12 is  0.653349877161
MAE is  1.27372685185


r2 score on test set 13 is  0.406783231515
MAE is  0.351851851852


r2 score on test set 14 is  0.883843913798
MAE is  3.17418981481


r2 score on test set 15 is  0.641804304212
MAE is  0.100694444444


r2 score on test set 16 is  0.792720424171
MAE is  0.388310185185


r2 score on test set 17 is  0.406507592191
MAE is  0.209490740741


r2 score on test set 18 is  0.519609817055
MAE is  0.442708333333


r2 score on test set 19 is  0.729197385342
MAE is  0.962962962963


r2 score on test set 20 is  0.840442432856
MAE is  2.52488425926


r2 score on test set 21 is  0.607971408209
MAE is  0.794560185185


r2 score on test set 22 is  0.745856595617
MAE is  1.58101851852


r2 score on test set 23 is  0.763434044538
MAE is  9.91087962963


r2 score on test set 24 is  0.94847531356
MAE is  2.60243055556


r2 score on test set 25 is  0.774990292589
MAE is  0.62962962963


r2 score on test set 26 is  0.906050028649
MAE is  1.49305555556


r2 score on test set 27 is  0.634702778453
MAE is  1.55729166667


r2 score on test set 28 is  0.791680216629
MAE is  4.78703703704


r2 score on test set 29 is  0.697776369137
MAE is  0.90162037037


r2 score on test set 30 is  0.396585351728
MAE is  0.232060185185


r2 score on test set 31 is  0.622914604597
MAE is  0.537615740741


r2 score on test set 32 is  0.464977078497
MAE is  0.299189814815


r2 score on test set 33 is  0.340986761954
MAE is  0.345486111111


r2 score on test set 34 is  0.616035131223
MAE is  0.460069444444


r2 score on test set 35 is  0.619888346515
MAE is  0.52025462963


r2 score on test set 36 is  0.399584705721
MAE is  0.478009259259


r2 score on test set 37 is  0.932912548118
MAE is  4.71180555556


r2 score on test set 38 is  0.652493535281
MAE is  0.792824074074


r2 score on test set 39 is  0.746570508637
MAE is  0.653935185185


r2 score on test set 40 is  0.597696250793
MAE is  0.400462962963


r2 score on test set 41 is  0.540096246783
MAE is  0.42650462963


r2 score on test set 42 is  0.866362827828
MAE is  1.20775462963


r2 score on test set 43 is  0.62289955624
MAE is  0.30150462963


r2 score on test set 44 is  0.296450174817
MAE is  0.221064814815


r2 score on test set 45 is  0.145832753158
MAE is  0.287615740741


r2 score on test set 46 is  0.907381904849
MAE is  3.92476851852


r2 score on test set 47 is  0.642709146807
MAE is  0.648726851852


r2 score on test set 48 is  0.899337048926
MAE is  5.4380787037


r2 score on test set 49 is  0.609841053287
MAE is  0.28125


r2 score on test set 50 is  0.0860668239202
MAE is  0.259259259259


r2 score on test set 51 is  0.794817672024
MAE is  20.068287037


r2 score on test set 52 is  0.381216995133
MAE is  0.142361111111


r2 score on test set 53 is  0.697080933723
MAE is  0.596064814815


r2 score on test set 54 is  0.154899468312
MAE is  0.334490740741


r2 score on test set 55 is  0.366623883776
MAE is  0.131944444444


r2 score on test set 56 is  0.426536314359
MAE is  0.319444444444


r2 score on test set 57 is  0.573479507384
MAE is  0.19212962963


r2 score on test set 58 is  0.139593503978
MAE is  0.365740740741


r2 score on test set 59 is  0.431416140033
MAE is  0.303819444444


r2 score on test set 60 is  0.517616548085
MAE is  0.168981481481


r2 score on test set 61 is  0.451614120387
MAE is  0.22337962963


r2 score on test set 62 is  0.412538407411
MAE is  0.161458333333


r2 score on test set 63 is  0.440115720291
MAE is  0.130787037037


r2 score on test set 64 is  0.352291376351
MAE is  0.235532407407


r2 score on test set 65 is  0.466303026803
MAE is  0.171875


r2 score on test set 66 is  0.453973762149
MAE is  0.182291666667

In [48]:
MAE_all = np.array(MAE_list)
print MAE_all.mean()

1.53896604938