In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display # Allows the use of display() for DataFrames

# Show matplotlib plots inline (nicely formatted in the notebook)
%matplotlib inline

import time
import datetime
import os

#import datacleaningp1 as dcp
import dcp
reload(dcp)

In [2]:
### Read date-time_slice to predict into a dictionary

date_time_dict = {}

def str2int(string):
    try:
        return int(string)
    except:
        return np.nan
    
pwd = os.getcwd()
data_set_type = 'test_set_1'
filepath = os.path.join(pwd, data_set_type)

with open(filepath + '//read_me_1.txt','rb') as f:
    content = f.readlines()
    for line in content:
        line = line.strip()
        listfromline = line.split('-')
        listfromline = map(str2int,listfromline)
        date_tmp = listfromline[:3]
        date_key = "%04d-%02d-%02d" % (date_tmp[0],date_tmp[1],date_tmp[2])
        if date_time_dict.has_key(date_key):
            date_time_dict[date_key].append(listfromline[3])
        else:
            date_time_dict[date_key] = []
            date_time_dict[date_key].append(listfromline[3])
            
print date_time_dict

{'2016-01-22': [46, 58, 70, 82, 94, 106, 118, 130, 142], '2016-01-30': [46, 58, 70, 82, 94, 106, 118, 130, 142], '2016-01-28': [58, 70, 82, 94, 106, 118, 130, 142], '2016-01-26': [46, 58, 70, 82, 94, 106, 118, 130, 142], '2016-01-24': [58, 70, 82, 94, 106, 118, 130, 142]}

In [3]:
### construct test set feature

### Step 0 generate a map between district_hash & district_id
cluster_folder_location = filepath + '//cluster_map'
file_name = '//cluster_map'
col_name = ['district_hash','district_id']

id_map = pd.read_table(cluster_folder_location + file_name,names = col_name)

def inlist(slice,llist):
    return (slice in llist)

### Step 1 concat test set into a dataframe
data_test_all = pd.DataFrame()
for date_string,timelist in date_time_dict.items():
    data_test_tmp = dcp.clean_and_save(filepath, id_map, date_string,save_or_not = False)
    data_test_tmp['date'] = date_string
    #data_test_tmp_select = pd.DataFrame()
    #for timeslice in timelist:
    data_test_tmp_select = data_test_tmp[data_test_tmp['time'].apply(inlist,llist = timelist)]
    data_test_all = pd.concat([data_test_all,data_test_tmp_select],ignore_index=True)
    
display(data_test_all.describe())

order data set read successfully!
126675
traffic data set read successfully!
1752
weather data set read successfully!
8
order data set read successfully!
105420
traffic data set read successfully!
1755
weather data set read successfully!
25
order data set read successfully!
111554
traffic data set read successfully!
1559
weather data set read successfully!
13
order data set read successfully!
121649
traffic data set read successfully!
1755
weather data set read successfully!
21
order data set read successfully!
92687
traffic data set read successfully!
1560
weather data set read successfully!
11

C:\Users\sjtu\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_4,Weather_6,Weather_9,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4
count,2838.000000,1122.000000,2310.000000,1188.000000,1716.000000,594.000000,594.000000,2838.000000,2838.0,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000
mean,68.418605,0.764706,0.200000,0.166667,0.615385,0.333333,0.111111,33.500000,0.0,13.163143,12.767442,12.449260,1.511628,96.232558,709.227903,158.768171,48.602059,32.072879
std,15.252899,0.424372,0.400087,0.372835,0.486646,0.471802,0.314535,19.053729,0.0,54.944820,54.142336,58.725376,3.878900,29.880071,765.582734,244.655105,80.877094,50.750537
min,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,-7.000000,46.000000,11.000000,0.000000,0.000000,0.000000
25%,58.000000,NaN,NaN,NaN,NaN,NaN,NaN,17.000000,0.0,0.000000,0.000000,0.000000,1.000000,70.000000,191.000000,26.000000,7.000000,4.000000
50%,64.000000,NaN,NaN,NaN,NaN,NaN,NaN,33.500000,0.0,1.000000,1.000000,1.000000,3.000000,94.000000,387.500000,63.000000,19.000000,13.000000
75%,80.000000,NaN,NaN,NaN,NaN,NaN,NaN,50.000000,0.0,5.000000,5.000000,4.000000,4.000000,118.000000,859.500000,196.000000,55.000000,35.000000
max,101.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,66.000000,0.0,1044.000000,962.000000,1162.000000,7.000000,142.000000,4284.000000,2062.000000,717.000000,416.000000

In [4]:
data_test_all['Weather_8'] = 0
data_test_all = data_test_all.fillna(0)
display(data_test_all.describe())

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_4,Weather_6,Weather_9,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4,Weather_8
count,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.0,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.000000,2838.0
mean,68.418605,0.302326,0.162791,0.069767,0.372093,0.069767,0.023256,33.500000,0.0,13.163143,12.767442,12.449260,1.511628,96.232558,709.227903,158.768171,48.602059,32.072879,0.0
std,15.252899,0.459346,0.369240,0.254800,0.483448,0.254800,0.150741,19.053729,0.0,54.944820,54.142336,58.725376,3.878900,29.880071,765.582734,244.655105,80.877094,50.750537,0.0
min,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,-7.000000,46.000000,11.000000,0.000000,0.000000,0.000000,0.0
25%,58.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.0,0.000000,0.000000,0.000000,1.000000,70.000000,191.000000,26.000000,7.000000,4.000000,0.0
50%,64.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.500000,0.0,1.000000,1.000000,1.000000,3.000000,94.000000,387.500000,63.000000,19.000000,13.000000,0.0
75%,80.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,50.000000,0.0,5.000000,5.000000,4.000000,4.000000,118.000000,859.500000,196.000000,55.000000,35.000000,0.0
max,101.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,66.000000,0.0,1044.000000,962.000000,1162.000000,7.000000,142.000000,4284.000000,2062.000000,717.000000,416.000000,0.0

In [5]:
data_test_all.to_csv('test_data_1.csv',index = False)

In [38]:
data_train_all = pd.read_csv('TrainingData.csv')
data_train_all['Weather_6'] = 0
data_train_all.drop(data_train_all.columns[0],axis = 1,inplace = True)
data_train_all.to_csv('TrainingData_fixed_4_test_1.csv',index = False)
display(data_train_all.describe())

,PM2.5,Weather_1,Weather_2,Weather_3,Weather_4,Weather_8,Weather_9,district_id,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,temperature,time,tj_level_1,tj_level_2,tj_level_3,tj_level_4,Weather_6
count,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.0
mean,115.542708,0.021007,0.461111,0.171354,0.279167,0.066319,0.001042,33.500000,7.298630,7.279098,7.259065,7.241093,6.311806,72.500000,601.592692,128.377262,38.575176,25.988291,0.0
std,47.538847,0.143407,0.498486,0.376819,0.448590,0.248840,0.032258,19.050397,42.020913,42.013276,42.003035,41.994507,3.721937,41.568272,697.427213,214.776859,67.096184,41.573323,0.0
min,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,81.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,3.000000,36.750000,148.000000,17.000000,5.000000,3.000000,0.0
50%,112.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,33.500000,1.000000,1.000000,1.000000,1.000000,6.000000,72.500000,328.000000,50.000000,15.000000,10.000000,0.0
75%,149.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,50.000000,3.000000,3.000000,3.000000,3.000000,8.000000,108.250000,770.000000,142.000000,42.000000,30.000000,0.0
max,241.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,66.000000,3867.000000,3867.000000,3867.000000,3867.000000,19.000000,144.000000,4223.000000,2084.000000,863.000000,486.000000,0.0

In [39]:
def aligncols(data,col_list):
    output = pd.DataFrame(index = data.index)
    for col in col_list:
        col_data = data[col]
        output = output.join(col_data)
        
    return output

col_standard = ['district_id','time','gaps', 'gaps_pre_1', 'gaps_pre_2', 'gaps_pre_3',\
                'PM2.5', 'Weather_1', 'Weather_2', 'Weather_3', \
                'Weather_4', 'Weather_6', 'Weather_8', 'Weather_9','temperature', \
                'tj_level_1', 'tj_level_2', 'tj_level_3', 'tj_level_4']
data_train_all = aligncols(data_train_all,col_standard)
display(data_train_all.describe())
data_train_all.to_csv('TrainingData_fixed_4_test_1.csv',index = False)

valid = data_train_all['gaps'] != 0
data_train_all_v2 = data_train_all[valid]
data_train_all_v1 = data_train_all

,district_id,time,gaps,gaps_pre_1,gaps_pre_2,gaps_pre_3,PM2.5,Weather_1,Weather_2,Weather_3,Weather_4,Weather_6,Weather_8,Weather_9,temperature,tj_level_1,tj_level_2,tj_level_3,tj_level_4
count,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.0,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000,380160.000000
mean,33.500000,72.500000,7.298630,7.279098,7.259065,7.241093,115.542708,0.021007,0.461111,0.171354,0.279167,0.0,0.066319,0.001042,6.311806,601.592692,128.377262,38.575176,25.988291
std,19.050397,41.568272,42.020913,42.013276,42.003035,41.994507,47.538847,0.143407,0.498486,0.376819,0.448590,0.0,0.248840,0.032258,3.721937,697.427213,214.776859,67.096184,41.573323
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,36.750000,0.000000,0.000000,0.000000,0.000000,81.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,3.000000,148.000000,17.000000,5.000000,3.000000
50%,33.500000,72.500000,1.000000,1.000000,1.000000,1.000000,112.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,6.000000,328.000000,50.000000,15.000000,10.000000
75%,50.000000,108.250000,3.000000,3.000000,3.000000,3.000000,149.000000,0.000000,1.000000,0.000000,1.000000,0.0,0.000000,0.000000,8.000000,770.000000,142.000000,42.000000,30.000000
max,66.000000,144.000000,3867.000000,3867.000000,3867.000000,3867.000000,241.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,19.000000,4223.000000,2084.000000,863.000000,486.000000

# Step 0: Use knn k = 1 to predict gap in test set

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display # Allows the use of display() for DataFrames

# Show matplotlib plots inline (nicely formatted in the notebook)
%matplotlib inline

import time
import datetime
import os

#import datacleaningp1 as dcp
import dcp
reload(dcp)

data_train_all = pd.read_csv('TrainingData_fixed_4_test_1.csv')
data_test_all = pd.read_csv('test_data_1.csv')

def aligncols(data,col_list):
    output = pd.DataFrame(index = data.index)
    for col in col_list:
        col_data = data[col]
        output = output.join(col_data)
        
    return output

col_standard = ['district_id','time','gaps', 'gaps_pre_1', 'gaps_pre_2', 'gaps_pre_3',\
                'PM2.5', 'Weather_1', 'Weather_2', 'Weather_3', \
                'Weather_4', 'Weather_6', 'Weather_8', 'Weather_9','temperature', \
                'tj_level_1', 'tj_level_2', 'tj_level_3', 'tj_level_4']

def output_required_format(data):
    '''rewirte data into required format'''
    output = pd.DataFrame(index = data.index)
    #row_number = len(data)
    ### add district_id
    output['district_id'] = data['district_id']
    ### add date-time
    date_time_list = []
    for row_id in data.index:
        date_tmp = data.loc[row_id]['date']
        time_tmp = str(int(data.loc[row_id]['time']))
        date_time_list.append(date_tmp + '-' + time_tmp)
        
    output['date-time'] = date_time_list
        
    ### add gaps_pred
    output['gaps_pred'] = data['gaps']
    ### reset index
    output = output.reset_index(drop = True)
    return output

In [21]:
district_number = 66
#test_set_size = 0.3 #use all training data
num_neighbors = 10

cols_output = ['district_id','date-time','gaps_pred']
output_test_pred = pd.DataFrame(columns = cols_output)

#data_train_all = data_train_all_v2

### import necessary moduels in sklearn
from sklearn.utils import shuffle
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error,r2_score
###

for iid in np.arange(district_number)+1:
    ### select training data for one specific district
    data_train_iid = data_train_all[data_train_all['district_id'] == iid]
    data_train_iid.drop(['district_id'],inplace = True, axis = 1)
    data_train_iid = data_train_iid.reset_index(drop = True)
    
    ### select test data for one specific district
    data_test_iid = data_test_all[data_test_all['district_id'] == iid]
    data_test_iid_backup = data_test_iid.copy()
    #data_test_iid.drop(['district_id'],inplace = True, axis = 1)
    data_test_iid = data_test_iid.reset_index(drop = True)
    
    ### store date information in another DataFrame
    data_test_iid_date = data_test_iid['date']
    
    ### drop dateinfo and dummy'gaps' from data_test_iid, align its columns according to col_standard
    data_test_iid.drop(['date'], inplace = True, axis = 1)
    data_test_iid = aligncols(data_test_iid,col_standard)
    data_test_iid.drop(['gaps','district_id'],inplace = True, axis = 1)
    
    
    ### shuffle training data, prepare to apply nn model
    data_train_iid_s = shuffle(data_train_iid,random_state = 42)
    ### split labels from data set
    label = data_train_iid_s['gaps']
    data_train_iid_s.drop(['gaps'],axis = 1,inplace = True)
    
    ### feature renormalization on training_set,then on test_set
    min_max_scaler = preprocessing.MinMaxScaler()
    data_train_iid_n = min_max_scaler.fit_transform(data_train_iid_s)
    data_test_iid_n = min_max_scaler.transform(data_test_iid)

    ### train a nearest neighbor regressor
    neigh = KNeighborsRegressor(n_neighbors= num_neighbors)
    neigh.fit(data_train_iid_n,label)
    
    y_pred = neigh.predict(data_test_iid_n)
    data_test_iid_backup['gaps'] = y_pred
    
    ### transform output into required format
    output_tmp = output_required_format(data_test_iid_backup)
    output_test_pred = pd.concat([output_test_pred,output_tmp],ignore_index = True)
    #print 'pred test set %d done '%iid
    #print '\n'

test_real = pd.read_table('test_result_1',sep = ',',names = ['district_id','date-time','gaps_real'])
test_result_all = pd.merge(test_real,output_test_pred,how = 'left',on = ['district_id','date-time'])
#display(test_result_all)
print mean_absolute_error(test_result_all['gaps_real'],test_result_all['gaps_pred'])

output_test_pred['district_id'] = output_test_pred['district_id'].apply(dcp.num2str)
#display(output_test_pred)
output_test_pred.to_csv('test_pred_1.csv',index = False)

C:\Users\sjtu\Anaconda2\lib\site-packages\ipykernel\__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\sjtu\Anaconda2\lib\site-packages\ipykernel\__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

15.7929678848

In [22]:
import pandas as pd 
# load my result
#my_result = pd.read_table("test_pred_1.csv", sep=',', names=['depart', 'time', 'gap_pred'])
my_result = pd.read_csv('test_pred_1.csv')
my_result.columns = ['depart', 'time', 'gap_pred']
# load golden result
golden_result = pd.read_table("test_result_1", sep=',', names=['depart', 'time', 'gap_real'])

result = pd.merge(my_result, golden_result, on=['depart', 'time'], how='right')
#result.fillna(0, inplace = True)
result['gap'] = (result['gap_real'] - result['gap_pred']).abs()
result['gap'] = result['gap'].astype(float)/result['gap_real']
result = result[['depart', 'time', 'gap']]

print result.groupby('depart').mean().mean()

gap    0.765118
dtype: float64